<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text">New Todo Item</span>
    </div>
    <input type="text" class="form-control" placeholder="enter your text here"
           @bind-value="MyText" @bind-value:event="oninput" @onkeypress="KeyPress"/>
    <div class="input-group-append">
        <button class="btn btn-secondary @buttonDisabled" @onclick="NewItem">Add (enter)</button>
    </div>
</div>

@code {
    string MyText { get; set; }

    string buttonDisabled => MyText != null && MyText.Length > 0 ? null : "disabled";

    [Parameter]
    public Action<string> OnNewItem { get; set; }

    void NewItem()
    {
        if (OnNewItem != null)
        {
            OnNewItem(MyText);
            MyText = "";
        }
    }

    void KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            NewItem();
        }
    }

}
